%section{data: {"background" => "vendor/eth-reveal-theme/images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Grating interferometry and Compton scattering

%section
  %h2 New bunker 4
  %ul
    %li approved up to 160 kV (custom controller chip)
    %li thicker beam stop needed for higher voltage
    %li
      %strong mandatory
      dosimeter inside bunker 5

%section
  %h2 Tube operation
  %ol
    .container
      .col-xs-6
        %li
          turn key to the <i class="fa fa-bolt"></i> position
          %img.img-responsive{src: "images/00003.jpg"}
        %li
          press blue button on the door
          %img.img-responsive{src: "images/00008.jpg"}

%section
  %h2 Tube operation
  %ol{start: 3}
    .container
      .col-xs-6
        %li
          warm up (don't know = 99 days)
          %img.img-responsive{src: "images/00004.jpg"}
        %li
          choose max voltage you want to operate
          %img.img-responsive{src: "images/00005.jpg"}
      .col-xs-6
        %li
          press on

%section
  %h2 Tube maintenance
  %p
    once per year, check both ends of the high-voltage cable: exactly two
    rings should be visible
  .container
    .row
      .col-xs-6.col-xs-offset-2
        %img.img-responsive{src: "images/00011.jpg"}

%section
  %h2 Troubleshooting
  %ul
    %li check main switch behind the bunker
    %li check warning lamps: no beam if the lamp is broken!
    %li
      contact: Manuel Gautschi
      %a{href: "mailto://mg@controltech-ndt.ch"}mg@controltech-ndt.ch
      .col-xs-6
        %img.img-responsive{src: "images/00009.jpg"}

%section
  %h2 The Compton energy range
  %ul
    %li bio $> 50$ keV
    %li heavy metals $>100$ keV
  .container
    .row
      .col-xs-10
        %img.img-responsive{src: "images/carbon.cross.section.png"}

%section
  %h2 How does grating interferometry change?

%section
  %h2 Absorption
  %p no Z information
  .container
    .row
      .col-xs-10
        %img.img-responsive{src: "images/aggregated.png"}

%section
  %h2 Differential phase
  %ul
    %li same relationship with $\delta$
    %li
      see
      %a{href: "http://enucatl-presentations.github.io/2014.11.18.progress.report/#/6/5"} experiment

%section
  %h2 Dark field
  %p
    Extension of
    %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/21833104"} Lynch et al. 2011
  .container
    .row
      .col-xs-6
        %img.img-responsive{src: "images/LynchPlot.png"}
      .col-xs-6
        %img.img-responsive{src: "images/LynchFormula.png"}
        \\[ R = \mu_d / \log A \]

%section
  %h2 Polychromatic model
  %ul
    %li $R(\mathcal{E})$ for each energy from Lynch
    %li sum over spectral weights
    %li add fixed Compton contribution (energy and material independent)
    %li two fit parameters $R_0$, $C$
  %p
    \\[ R(\mathcal{E}) = R_0 + C \dfrac{|n|^2}{\beta} u(\mathcal{E}) \]
    \\[ R = \sum_\mathcal{E} w(\mathcal{E}) R(\mathcal{E}) \]

%section
  %h2 Silica microspheres
  %p 0.16-7.75 &micro;m
  .container
    .row
      .col-xs-10
        %img{src: "images/summary-full-spectrum.png"}

%section
  %h2 Beam hardening
  .container
    .row
      .col-xs-6
        %h3 12 mm
        %img.img-responsive{src: "images/total-12.png"}
      .col-xs-6
        %h3 45 mm
        %img.img-responsive{src: "images/total-45.png"}

%section
  %h2 Conclusions
  %ul
    %li.alert-success microstructural information from dark field, even on polychromatic sources
    %li.alert-danger phase and delta very noisy because of the very fast visibility reduction
    %li.alert-warning no Z from R
  %h2 Applications
  %ul
    %li.alert-success lung microstructure size
    %li.alert-success mammography microcalcs and fibers
    %li.alert-success lower energy advised: 100 kVp, 40-60 keV design
    %li.alert-danger bones and strongly absorbing samples are a big issue for DPC
