%section{data: {"background" => "vendor/eth-reveal-theme/images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Grating interferometry and Compton scattering

%section
  %h2 New bunker 4
  %ul
    %li approved up to 160 kV (custom controller chip)
    %li thicker beam stop needed for higher voltage
    %li
      %strong mandatory
      dosimeter inside bunker 5
