%section{data: {"background" => "vendor/eth-reveal-theme/images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Grating interferometry and Compton scattering

%section
  %h2 Goals and motivation of the project
  %ul
    %li feasibility of phase contrast on tubes with \(>100\) kVp
    %li characterize physical quantities
    %li typical environment for medical, security and material science applications

%section
  %h2 On previous episodes
  %ul
    %li same differential phase signal as for lower energies
    %li best design within current fabrication limits \(\approx 60\) keV \(\pi\) shift
    %li different dark-field signal, related to Compton scattering (?)

%section
  %h2 What is different with the dark-field signal?
  %p nonzero value for all samples, proportional to the absorption

%section
  %h2 Refinements to the model (in preparation)

%section
  %h2 Introducing a structure factor

%section
  %h2 Including the structure factor

%section
  %h2 Publications

%section
  %h2 Exploring homogeneous samples

%section
  %h2 Paper from Arndt et al

%section
  %h2 Main features

%section
  %h2 Reproducing the results

%section
  %h2 Theoretical background

%section
  %h2 Outline
  %ul
    %li Install 2D interferometer, 60 keV design energy, in the new lab
    %li Theory still almost completely missing, although the experimental 
    marks of incoherent scattering can be circumstantial evidence
